* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'reset.less';
@import 'variables.less';
@import 'mixins.less';
@import 'navigation.less';

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
	box-sizing: border-box;
	min-width: 300px;
    margin: 0;
}

a {
    text-decoration: none;
}