.product {
    .product-text {
        width: 49%;
        .flex(space-around, flex-start, column)
    }

    .product-image {
        width: 49%;

        img {
            width: 100%;
        }
    }
}