// HOW TO/STEPS TO USE APP
.how-to {
  background-color: lighten(@pop-font-color, 35%);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &::before {
    //Henry's hack: pseudoelement - place styling on elements that don't exist in html
    content: "";
    position: absolute;
    width: 200vw; //viewport width
    height: 100%;
    // background-color: green;
    background-color: lighten(@pop-font-color, 35%);
    left: -50%;
    z-index: -1;
    top: 0;
  }

  .steps {
    .flex(space-around, center, row);
    // flex-wrap: wrap;
    padding-bottom: 10px;

    @media @tablet {
      flex-direction: column;
      justify-content: center;
    }

    .steps-list {
      width: 40%;
      margin: 0 auto;
      text-align: left;

      @media @tablet {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
  
      .step {
        counter-increment: my-counter;
        display: flex;
        width: 100%;
        font-size: 1.6rem;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 20px;
        cursor: pointer;
  
        @media @tablet {
          margin: 0 auto;
        }
      }

      .active-step {
        color: @pop-font-color;
      }
  
      .step::before {
        content: "0" counter(my-counter);
        font-weight: bold;
        font-size: 2.5rem;
        margin-right: 1rem;
        font-family: "Abril Fatface", serif;
        line-height: 1;
      }
    }

    .carousel {
      width: 40%;
      .flex(space-between, center, row);
      margin: 0 auto;

      @media @tablet {
        width: 100%;
      }

      .left-button,
      .right-button {
        .flex(center, center);
        font-size: 25px;
        color: white;
        background-color: @pop-font-color;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 15px;
        cursor: pointer;
      }

      img {
        width: 90%; //rule with images and being within a div container?
        display: none;
        padding-right: 10px;
        padding-left: 10px;
      }

      .active-img {
        display: block;
      }
    }
  }
}

// ANOTHER MARKETING HEADER
.product {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;

  @media @tablet {
    flex-direction: column;
    justify-content: center;
  }

  .product-text {
    width: 45%;
    .flex(space-around, flex-start, column);

    @media @tablet {
      width: 100%;
    }
  }

  .product-image {
    width: 45%;

    img {
      width: 100%;
    }

    @media @tablet {
      width: 60%;
      margin: 4rem auto;
    }
  }
}