//Fonts
@main-font: @tuna;
@pop-font-color: @red-damask;

// Colors
@grey: grey;

// Streemly Colors
@red-damask: #DB6450;
@patina: #639F93;
@tuna: #36393F;
@white: #FFFFFF;

// Devices
@mobile: ~"(max-width: 500px)";